body {
    background-color: #9acd32;
    box-sizing: border-box;
}
nav ul li {
    display: inline-block;
    margin-right: 6px;
    margin-top: 8px;

}
.CooperPic {
  border: 10px dotted red;
  padding: 10px 20px;
  border-radius: 50%;
  height: 250px;
  width; 500px;
  
}
#myh2 {
    color: fuchsia;
}

.myh2 {
    color: orange;
}

#committees {
    background-color:white;
}
.rep_Info img{
    float: right;
}
.rep_info {
    border: 2px red solid;
}